@media (max-width: 620px){
    .contenidoPrincipal .contenido-principal{
        flex-direction: column;
        height: initial;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .primerInputTexto{
        height: 30px;
        font-size: 17px;
    }
    .right{
        flex-direction: column;
        width: 90%;
        margin: 6px;
    }
    .left{
        width: 90%;
    }
    .left-button{
        width: 100%;
    }
    .left p {
        width: 95%;
    }
    .btnLeft{
        height: 50px;
    }
    #btn-desEncriptar, #btn-encriptar{
        height: 50px;
        margin: 5px;
        font-size: 11px;
    }
}